/*LARGE SCREENS*/


@media(min-width: 400.0001px) {

    /*nav link font size changes depending on the screen resolution*/
    .navLink {
        color: #ffffff;
        text-decoration: none;
        font-size: 200%;
    }

    /*image should take less space when on large screen*/
    #createListImg {
        position: relative;
        width: 30%;
        height: 30%;
        margin-left: 25px;
        margin-top: 50px;
        border-radius: 5px;
    }


    /*LIST HEADINGS*/


    /*font size of the header elements doubled for large screens*/
    .headingFlexContainer {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        flex-grow: inherit;
        justify-content: center;
        font-size:200%;
        align-items: center;
        width: 95%;
        /*margin: auto auto 2px auto;*/
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElName {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElDate {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElAction {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElList {
        flex-grow: 6;
        flex-basis: 0;
        border-right-style: none;
        border-left-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }


    /*LIST BODY*/


    .listsWrapper {
        /*margin-right: 5vw;*/
        /*margin-left: 5vw;*/
        text-align: center;
    }

    /*list elements - flex container*/
    .listContainerEl {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        /*padding: 2px 0 2px 0;*/
        /*flex-grow: inherit;*/
        justify-content: center;
        align-items: stretch;
        width: 95%;
        /*margin: auto auto 0px auto;*/
        flex-wrap: wrap-reverse;
        margin: 0 0 2px 0;
    }
    /*list elements - name column*/
    .listContainerElParagraph {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        /*height: border-box;*/
        margin: 0 auto;
        text-align: left;
        flex-shrink:0.6;
    }
    /*list elements - clumsy button*/
    .listContainerElButton {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-right-color: #00b4ef;
        display: block;
        /*margin: 2px 0 2px 0;*/
        /*height: inherit;*/
        height: available;
    }
    /*list elements - shopping list: flex-grow set to 6 for large screens*/
    .listContainerElElements {
        flex-grow: 6;
        flex-basis: 0;
        margin: 0 auto;
        /*height: inherit;*/
    }

    /*list elements - creation date*/
    .listCreationDateColumn {
        flex-basis: 0;
        flex-grow: 1;
        border-right-style: solid;
        border-right-color: #00b4ef;
        display: block;
        margin: 0 auto;
        /*height: inherit;*/
        color: rgba(72, 65, 75, 0.87);
    }

    #listBtn {
        margin: 2px 0 2px 0;
    }
}


/*SMALL SCREENS*/


@media(max-width: 400px){

    /*nav link font size changes depending on the screen resolution*/
    .navLink {
        color: #ffffff;
        text-decoration: none;
        font-size: 100%;
    }

    /*image should take less space when on large screen*/
    #createListImg {
        position: relative;
        width: 70%;
        height: 70%;
        margin-left: 25px;
        margin-top: 50px;
        border-radius: 5px;
    }

    /*font size of the header elements doubled for large screens*/
    .headingFlexContainer {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        flex-grow: inherit;
        justify-content: center;
        font-size:100%;
        align-items: center;
        width: 95%;
        /*margin: auto auto 2px auto;*/
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElName {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElDate {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElAction {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color:white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElList {
        flex-grow: 4;
        flex-basis: 0;
        border-right-style: none;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
        display: none;

    }

    /*LIST ELEMENTS*/


    .listsWrapper {
        text-align: center;
    }

    /*list elements - flex container*/
    .listContainerEl {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        padding-bottom: 0.3vh;
        /*flex-grow: inherit;*/
        justify-content: center;
        align-items: stretch;
        width: 95%;
        flex-wrap: wrap-reverse;
        margin: 0 0 0.3vh 0;
    }
    /*list elements - name column*/
    .listContainerElParagraph {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: #00b4ef;
        height: inherit;
        margin: 0 auto;
        text-align: left;
        flex-shrink:0.6;
    }
    /*list elements - button*/
    .listContainerElButton {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-right-color: #00b4ef;
        display: block;
        margin: 0 auto;
        height: inherit;
    }
    /*list elements - shopping list: flex-grow set to 4 for small screens*/
    .listContainerElElements {
        flex-grow: 4;
        flex-basis: 0;
        /*margin: 0 auto;*/
        height: auto;
        display: none;

    }

    /*list elements - creation date*/
    .listCreationDateColumn {
        flex-basis: 0;
        flex-grow: 1;
        border-right-style: solid;
        border-right-color: #00b4ef;
        display: block;
        margin: 0 auto;
        height: inherit;
        color: rgba(72, 65, 75, 0.87);
    }

    .singleListViewContainer{
        display: flex;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        flex-direction: column;
        margin-right: 5vw;
        margin-left: 5vw;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height:100%;
        /*align-content: space-evenly;*/
    }

    .singleListItem {
        display:flex;
        background-color: white;
        width: 89vw;
        height: 4vh;
        padding-left: 10px;
        padding-right: 10px;
        border-style:solid;
        border-width: 0 0 1px 0;
        justify-content: center;
        align-items: center;
    }

    .checkbox {
        justify-self: flex-end;
    }

    .span {
        display: block;
        width: inherit;
    }
}

/*GENERAL*/
*,*:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
}

image {
    max-width: 100%;
}

nav {
    background-color: #242424;
}

nav ul {
    display: flex;
    padding: 0;
    text-transform: uppercase;
    align-items: stretch;
}

nav li.main {
    flex-grow: 5;
    flex-basis: 0;
}

nav li.about {
    flex-grow: 1.5;
    flex-basis: 0;
}

nav li.right {
    border-left: 0.15rem solid white;
}

nav li.left {
    border-right: 0.15rem solid white;
}


.inline {
    display: inline;
    text-align: center;
}

.block {
    display: block
}

/*.topDown5pxMargin {*/
/*    margin: 5px 0px 5px 0px;*/
/*}*/

.right25pxMargin {
    margin-right: 25px;
}

.left25pxMargin {
    margin-left: 25px;
}



.navLink:hover {
    color: #50c4a8;
    text-decoration: none;
}

.navLink:focus {
    color: #50c4a8;
    outline: none;
}

.default {
    color: #50c4a8;
}





ol {
    width: auto;
}

ol li {
    text-align: left;
}

/*.px10MarginUpDown {*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*}*/

h2 {
    color: black;
    margin-left: 10px;
    font-family: OCR A Std, monospace;
}

.listIndex {
    color: #50c4a8;
    display: inline;
}

.listIndex2 {
    color: black;
    display: inline;
}


ol li::before {
    color: #50c4a8;
}

.displayBlock {
    display: block;

}








