/*LARGE SCREENS*/
@media (min-width: 475.0001px) {

    /*nav link font size changes depending on the screen resolution*/
    .navLink {
        color: #ffffff;
        text-decoration: none;
        font-size: 150%;
    }

    /*image should take less space when on large screen*/
    #createListImg {
        position: relative;
        width: 40%;
        height: 40%;
        border-radius: 80px;
        opacity: 0.45;
        -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
        z-index: -1;
    }


    /*LIST HEADINGS*/
    /*font size of the header elements doubled for large screens*/
    .headingFlexContainer {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        flex-grow: inherit;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-size: 2.1vw;
        width: 95%;
        margin: 0 auto;
    }

    .headingFlexElItem {
        flex-basis: auto;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElName {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
        display:flex;
        justify-content: center;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElDate {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
        display:flex;
        justify-content: center;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElAction {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
        display:flex;
        justify-content: center;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElList {
        flex-grow: 3.25;
        flex-basis: 0;
        border-right-style: none;
        border-left-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
        display:flex;
        justify-content: center;
    }


    /*LIST BODY*/
    .listsWrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*list elements - flex container*/
    .listContainerEl {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        justify-content: center;
        align-items: stretch;
        justify-items: center;
        width: 95%;
        flex-wrap: wrap-reverse;
        margin: 0 0 2px 0;
    }

    /*list elements - name column*/
    .listContainerElName {
        display: flex;
        align-items: center;
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        margin: 0 auto;
        text-align: left;
        font-size: 1.5vw;
    }

    .listCreationDateColumn {
        display: flex;
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;
        border-right-style: solid;
        border-right-color: lightblue;
        margin: 0 auto;
        justify-content: center;
        color: rgba(72, 65, 75, 0.87);
        font-size: 1.5vw;
    }

    /*list elements - clumsy button*/
    .listContainerElButton {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-right-color: lightblue;
        height: available;
        font-size: 1.5vw;
    }

    /*list elements - shopping list: flex-grow set to 6 for large screens*/
    .listContainerElElements {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 3.25;
        flex-basis: 0;
        margin: 0 auto;
        /*width: 75%;*/
    }

    /*list elements - creation date*/


    #listBtn {
        margin: 4px 0 4px 0;
        width: 75%;
        text-align: center;
        font-size: 1.5vw;
    }

    .activateBtn {
        width: 150px;
        height: 75px;
        margin: 50px 0 20px 50px;
    }

    .activateListModeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .h2FlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vh 0 3vh 0;
    }

    .liSavedListsContainer {
        display: flex;
        margin-bottom: 2vh;
        flex-wrap: initial;
    }


    .olStyle {
        flex-direction: column;
        padding-inline-start: 0;
        max-width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        list-style-type: decimal;
    }

    .listItemSpan {
        margin-right: 2vw;
        flex-shrink: 2;
        font-size: 1.5vw;
    }


    .liSavedListsInput {
        align-self: center;
        margin-left: auto;
        transform: scale(2.0);
        flex-shrink: 2;
    }

    .inputContainer {
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }

    .nameYourListMode {
        display: flex;
        margin-top: 5vh;
    }

    .nameYourListModeBox1 {
        flex-grow: 3;
    }

    .nameYourListModeBox2 {
        flex-grow: 4;
        min-height: 15vh;
        max-width: 70%;
        display: flex;
        flex-direction: column;
        /*border-style: wave;*/
        border-width: 1px;
        border-radius: 10px;
        background-color: white;
    }

    .nameYourListModeBox3 {
        flex-grow: 3;
    }

    .editionModeBtn {
        width: 20%;
        align-self: center;
        margin-bottom: 3px;
    }

    #listDraft {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    .liItem {
        margin-bottom: 5px;
    }

    .itemName {
        margin-right: 5px;
    }

    .itemBtn {
        margin-right: 7px;
    }

    input[type='checkbox']{
        outline: 2px solid lightblue;
        box-shadow: none;
        font-size: 2em;
    }

    #addNameBtn {
        margin-left: 1vw;
    }
}


/*SMALL SCREENS*/

@media (max-width: 475px) {

    /*nav link font size changes depending on the screen resolution*/
    .navLink {
        color: #ffffff;
        text-decoration: none;
        font-size: 100%;
    }

    /*image should take less space when on large screen*/
    #createListImg {
        position: relative;
        width: 40%;
        height: 40%;
        border-radius: 80px;
        opacity: 0.45;
        -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
        filter: grayscale(50%);
        z-index: -1;
    }

    /*font size of the header elements doubled for large screens*/
    .headingFlexContainer {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        flex-grow: inherit;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-size: 100%;
        width: 95%;
        margin: 0 auto;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElName {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElDate {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElAction {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
    }

    /*so far no differences comparing to small screen*/
    .headingFlexElList {
        flex-grow: 4;
        flex-basis: 0;
        border-right-style: none;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        color: white;
        background-color: #242424;
        display: none;

    }

    /*LIST ELEMENTS*/
    /*same configuration as for large screens*/
    .listsWrapper {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*list elements - flex container*/
    .listContainerEl {
        text-align: center;
        display: flex;
        background-color: white;
        border-left: solid #c5c5c5;
        height: auto;
        justify-content: center;
        align-items: stretch;
        justify-items: center;
        width: 95%;
        flex-wrap: wrap-reverse;
        margin: 0 0 2px 0;
        padding-bottom: 0;
    }


    /*list elements - name column*/
    .listContainerElName {
        flex-grow: 2;
        flex-basis: 0;
        border-right-style: solid;
        border-color: lightblue;
        height: inherit;
        margin: 0 auto;
        text-align: left;
        flex-shrink: 0.6;
    }

    /*list elements - button*/
    .listContainerElButton {
        flex-grow: 1;
        flex-basis: 0;
        border-right-style: solid;
        border-right-color: lightblue;
        display: block;
        margin: 0 auto;
        height: inherit;
    }

    /*list elements - shopping list: flex-grow set to 4 for small screens*/
    .listContainerElElements {
        flex-grow: 4;
        flex-basis: 0;
        height: auto;
        display: none;
    }

    /*list elements - creation date*/
    .listCreationDateColumn {
        flex-basis: 0;
        flex-grow: 1;
        border-right-style: solid;
        border-right-color: lightblue;
        display: block;
        margin: 0 auto;
        height: inherit;
        color: rgba(72, 65, 75, 0.87);
    }

    .singleListViewContainer {
        display: flex;
        border-style: solid;
        border-width: 1px 1px 0 1px;
        flex-direction: column;
        margin-right: 5vw;
        margin-left: 5vw;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 100%;
        /*align-content: space-evenly;*/
    }

    .singleListItem {
        display: flex;
        background-color: white;
        width: 89vw;
        height: 4vh;
        padding-left: 10px;
        padding-right: 10px;
        border-style: solid;
        border-width: 0 0 1px 0;
        justify-content: center;
        align-items: center;
    }

    .singleListViewGeneralContainer {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
    }

    .checkbox {
        justify-self: flex-end;
    }

    .span {
        display: block;
        width: inherit;
    }

    .h2FlexContainer {
        width: 100%;
        margin: 3vh 0 3vh 0;
    }

    .activateListModeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .activateBtn {
        width: 100px;
        height: 50px;
        margin: 50px 0 20px 50px;
    }


    #listBtn {
        width: 75%;
        text-align: center;
        margin: 1vh;
    }

    input[type='checkbox']{
        outline: 2px solid lightblue;
        box-shadow: none;
        font-size: 3em;
        transform: scale(1.5);
    }

    #backBtn {
        align-self: center;
        margin-left: auto;
        margin-top: 2vh;
    }


}

/*GENERAL*/
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
    min-width:300px;
}

image {
    max-width: 100%;
}

nav {
    background-color: #242424;
}

nav ul {
    display: flex;
    padding: 0;
    text-transform: uppercase;
    align-items: stretch;
    margin: 0 auto;
}

nav li.main {
    flex-grow: 5;
    flex-basis: 0;
}

nav li.about {
    flex-grow: 1.5;
    flex-basis: 0;
}

nav li.right {
    border-left: 0.15rem solid white;
}

nav li.left {
    border-right: 0.15rem solid white;
}


ol {
    width: auto;
}

ol li {
    text-align: left;
    list-style-type: decimal;
    list-style: decimal;
}

h2 {
    color: black;
    font-family: OCR A Std, monospace;
    margin: 0 auto;
    text-align: center;
}

.inline {
    display: inline;
    text-align: center;
}

.block {
    display: block;
}

.right25pxMargin {
    margin-right: 25px;
}


.navLink:hover {
    color: #50c4a8;
    text-decoration: none;
}

.navLink:focus {
    color: #50c4a8;
    outline: none;
}

.default {
    color: #50c4a8;
}


.listIndex {
    color: #50c4a8;
    display: inline;
    margin-bottom: 0;
    margin-left: 2%;
}

.listIndex2 {
    color: black;
    display: inline;
    margin-bottom: 0;
    margin-left: 3px;
}


ol li::before {
    color: #50c4a8;
}

.displayBlock {
    display: block;
}










