<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wygodna lista zakupów dla każdego!" />
    <meta name="keywords" content="lista, zakupów, shopping list, shopping, groceries list" />
    <meta name="author" content="AY Solutions" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}

</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}

    <!-- Include the compiled script-->
    {{ encore_entry_script_tags('js/app') }}

{% endblock %}
</body>
</html>